<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemotePresentReceiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemotePresentReceiver.Properties.Settings>
            <setting name="GamePadUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="GamePadDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="GamePadLeft" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="GamePadRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="GamePadA" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="GamePadB" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="GamePadX" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="GamePadY" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="GamePadStart" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="GamePadSelect" serializeAs="String">
                <value>Tab</value>
            </setting>
            <setting name="ScreenLaserColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="UseTelnetPort" serializeAs="String">
                <value>False</value>
            </setting>
        </RemotePresentReceiver.Properties.Settings>
    </userSettings>
</configuration>